body {
    width: 80vw;
    margin: auto;
    padding-top: 25px;
}

header {
    display: flex;
}

#logo {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}

#nav {
    display: flex;
    gap: 20px
}

li {
    list-style-type: none;
}

.lastest {
    width: 120px;
    height: 120px;
    border-radius: 15px;
}

.lastest:hover {
    transform: scale(1.2);
}

#latest-movies {
    border: solid purple 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}